<template>
  <div class="card rounded-lg">
    <div class="card-header !bg-white !py-3.5">
      <h1 class="mb-0">{{ title }}</h1>
    </div>
    <div class="card-body">
      <slot />
    </div>
  </div>
</template>
<script lang="ts" setup>
withDefaults(
  defineProps<{
    title?: string;
  }>(),
  {
    title: undefined,
  }
);
</script>
