<template>
  <div class="bg-white">
    <div class="lg:!max-w-screen-lg mx-auto py-4">
      <div class="row">
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4">
              <input
                type="text"
                class="form-control rounded-5 mb-3.5 lg:mb-0"
                placeholder="Job title, company"
                v-model="query.title"
              />
              <div class="ml-2 text-red-500">{{errors[0]}}</div>
            </div>
            <div class="col-lg-4">
              <input
                type="text"
                class="form-control rounded-5 mb-3.5 lg:mb-0"
                placeholder="Location"
                v-model="query.location"
              />
            </div>
            <div class="col-lg-4">
              <select
                class="form-select rounded-5 mb-3.5 lg:mb-0"
                id="inputGroupSelect01"
                v-model="query.minSalary"
              >
                <option selected disabled>{{$t('minSalaryMYR')}}</option>
                <option :value="1000">1000</option>
                <option :value="2000">2000</option>
                <option :value="3000">3000</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <button
            type="button"
            class="btn bg-red w-100 rounded-5 mt-6 lg:mt-0"
            @click="onSubmit"
          >
            <i class="fa-solid fa-magnifying-glass"></i> {{$t('findJob')}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
const emit = defineEmits(["submit"]);

// #region initialization
const query = ref({
  title: undefined,
  location: undefined,
  minSalary: undefined,
});
const errors = ref<string[]>([]);
// #endregion

// #region submit data
const onSubmit = async () => {
  // check title field 
  if (!query.value.title) {
    errors.value.push("Job title field is required");
    return;
  }

  // set to empty if no errors
  errors.value = []

  // set filter for routing
  const filter = {
    "filter[title]": query.value.title,
    "filter[state]": query.value.location,
    "filter[salary_min]": query.value.minSalary,
  };
  if (filter["filter[title]"] === undefined || "")
    delete filter["filter[title]"];
  if (filter["filter[state]"] === undefined || "")
    delete filter["filter[state]"];
  if (filter["filter[salary_min]"] === undefined || "")
    delete filter["filter[salary_min]"];
  await navigateTo({
    path: "/",
    query: filter,
  });
  emit("submit");
};
// #endregion
</script>
