<template>
  <nav class="navbar navbar-expand-lg bg-red p-0">
    <div class="container-md !max-w-screen-lg">
      <a class="navbar-brand p-0" href="#"
        ><img
          src="@/assets/images/maukerja-logo.png"
          style="height: 36px"
          srcset=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{{
              $t("allJobs")
            }}</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ $t("tools") }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">{{ $t("action") }}</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">{{ $t("anotherAction") }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ $t("help") }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">{{ $t("action") }}</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">{{ $t("anotherAction") }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">{{$t('blog')}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
