<template>
  <NuxtLayout name="main">
    <img
      src="@/assets/images/watsons-banner.jpg"
      alt=""
      class="max-h-56 w-full object-cover rounded-t-lg"
    />

    <JobListingCard
      :rounded-top="false"
      :title="title"
      :company="company"
      :salary="salary"
      :job-type="jobType"
      :city="city"
      :description="description"
    />

    <CardWithHeader :title="$t('requirements')" class="!mt-5">
      <div>
        <div class="flex space-x-2 items-end">
          <h2>{{ requirements }}</h2>
        </div>
      </div>
    </CardWithHeader>

    <CardWithHeader :title="$t('responsibilities')" class="!mt-5">
      <div>
        <h2>
          {{ responsibilities }}
        </h2>
      </div>
    </CardWithHeader>
  </NuxtLayout>
</template>

<script lang="ts" setup>
withDefaults(
  defineProps<{
    title?: string;
    company?: string;
    salary?: {
      min: number;
      max: number;
      currency: string;
    };
    jobType?: string;
    city?: string;
    description?: string;
    requirements?: string;
    responsibilities?: string;
  }>(),
  {
    title: undefined,
    company: undefined,
    salary: () => ({
      min: undefined,
      max: undefined,
      currency: undefined,
    }),
    jobType: undefined,
    city: undefined,
    description: undefined,
    requirements: undefined,
    responsibilities: undefined,
  }
);
</script>
