<template>
  <div class="card" :class="!roundedTop ? '!rounded-t-none' : 'rounded-lg'">
    <div class="flex flex-col md:flex-row align-items-center">
      <img src="@/assets/images/watsons-logo.png" style="width: 124px" alt="" />
      <div class="d-flex flex-column items-center md:items-start">
        <h1>{{ title }}</h1>
        <h2>{{ company }}</h2>
      </div>
    </div>
    <div class="row px-9 mt-3 md:mt-0">
      <div class="col-lg-6 d-flex">
        <i class="fa-solid fa-money-bill-wave"></i>
        <h2 class="ms-2">
          {{ salary.currency }}{{ salary.min }} - {{ salary.currency
          }}{{ salary.max }}
        </h2>
      </div>
      <div class="col-lg-6 d-flex">
        <i class="fa-solid fa-clock"></i>
        <h2 class="ms-2">{{ jobType }}</h2>
      </div>
    </div>
    <div class="row px-9">
      <div class="col-lg-6 d-flex">
        <i class="fa-solid fa-location-dot"></i>
        <h2 class="ms-2">{{$t('kota')}} {{ city }}</h2>
      </div>
    </div>
    <h3 class="px-9 mt-1 line-clamp-2">
      {{ description }}
    </h3>
    <div
      class="card-footer flex !justify-around cursor-pointer !py-2.5 !bg-white"
    >
      <div class="flex items-center">
        <i class="fa-solid fa-heart"></i>
        <h2 class="ms-2 mb-0">{{$t('save')}}</h2>
      </div>
      <div class="flex items-center cursor-pointer">
        <i class="fa-solid fa-briefcase"></i>
        <h2 class="ms-2 mb-0">{{$t('apply')}}</h2>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
withDefaults(
  defineProps<{
    title?: string;
    company?: string;
    salary?: {
      min: number;
      max: number;
      currency: string;
    };
    jobType?: string;
    city?: string;
    description?: string;
    roundedTop?: boolean;
  }>(),
  {
    title: undefined,
    company: undefined,
    salary: () => ({
      min: undefined,
      max: undefined,
      currency: undefined,
    }),
    jobType: undefined,
    city: undefined,
    description: undefined,
    roundedTop: true,
  }
);
</script>
