@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary: #e23f5a;
  --secondary: #414141;
  --light: #b2b2b2;
  --white: #ffffff;
}

html {
  font-family: "Open Sans", sans-serif !important;
}

body {
  background-color: #f5f5f5 !important;
}

.bg-red {
  background: var(--primary);
  --bs-btn-bg: var(--primary) !important;
  --bs-btn-color: var(--white) !important;
}

.bg-white {
  background: var(--white);
}

.btn-red {
  background: #e23f5a;
}

.navbar li a {
  color: var(--white);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar li a.active {
  background: #bb2c43;
  color: var(--white) !important;
}
h1 {
  font-size: 16pt !important;
  font-weight: bold !important;
  font-family: "Open Sans", sans-serif !important;
  color: #414141 !important;
}

h2 {
  font-size: 12pt !important;
  font-weight: 400 !important;
  font-family: "Open Sans", sans-serif !important;
  color: #414141 !important;
}

h3 {
  font-size: 11pt !important;
  font-weight: 400 !important;
  font-family: "Open Sans", sans-serif !important;
  color: #b2b2b2 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}