<template>
  <section>
    <Header />
    <FilterSearch @submit="$emit('submit')" />
    <div class="lg:max-w-screen-md mx-auto py-4">
      <slot />
    </div>
  </section>
</template>

<script lang="ts" setup>
defineEmits(["submit"]);
</script>
