<template>
  <NuxtLayout name="main" @submit="submitFilter">
    <JobListingCard
      v-for="job in jobs"
      class="mb-4 cursor-pointer"
      :key="job.id"
      :title="job.title"
      :company="job.company.name"
      :salary="job.salary"
      :job-type="job.job_type"
      :city="job.location.city"
      :description="job.descriptions.requirements"
      @click="navigateToDetail(job.id)"
    />
  </NuxtLayout>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import useJobService from "@/composables/jobs.service";
import { Job } from "@/types/Job";
import { useStore } from "vuex";

// #region initialization
const router = useRouter();
const { getJobs } = useJobService();
const isLoading = ref(false);
const store = useStore();
// #endregion

// #region fetch jobs
const fetchJobs = async (params = null) => {
  await store.dispatch("fetchJobs");  
};
// #endregion

// #region navigate job details
const navigateToDetail = (id: number) => {
  router.push(`/jobs/${id}`);
};
// #endregion

// #region submit filter value
const submitFilter = async () => {
  await store.dispatch("fetchFilteredJobs", router.currentRoute.value.fullPath)
};
// #endregion

const jobs = computed(() => {
  return store.state.jobs;
});

fetchJobs();
</script>
