<template>
  <div v-if="job">
    <JobDetail
      :title="job.title"
      :company="job.company.name"
      :salary="job.salary"
      :job-type="job.job_type"
      :city="job.location.city"
      :description="job.descriptions.requirements"
      :requirements="job.descriptions.requirements"
      :responsibilities="job.descriptions.reponsibilities"
    />
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import useJobService from "@/composables/jobs.service";
import { Job } from "@/types/Job";
import { useStore } from "vuex";

// #region initialization
const router = useRouter();
const isLoading = ref(false);
const store = useStore();

// #endregion

// #region fetch job
const fetchJob = async () => {
  await store.dispatch(
    "fetchFilteredJobs",
    router.currentRoute.value.params.id
  );
};
// #endregion

const job = computed(() => store.state.jobs[0]);
fetchJob();
</script>
